<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pekingopera.oa"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".common.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ApprovalFlowListActivity" android:screenOrientation="portrait" />
        <activity android:name=".FinancialFlowListActivity" android:screenOrientation="portrait" />
        <activity android:name=".GeneralFlowListActivity" android:screenOrientation="portrait" />
        <activity android:name=".FlowItemActivity" android:screenOrientation="portrait" />
        <activity android:name=".ApprovalGovListActivity" android:screenOrientation="portrait" />
        <activity android:name=".GovListActivity" android:screenOrientation="portrait" />
        <activity android:name=".GovItemActivity" android:screenOrientation="portrait" />
        <activity android:name=".CalendarListActivity" android:screenOrientation="portrait" />
        <activity android:name=".NoticeListActivity" android:screenOrientation="portrait" />
        <activity android:name=".MailListActivity" android:screenOrientation="portrait" />
        <!--<activity android:name=".WebPageActivity" />-->
        <activity android:name=".WebPagerActivity" android:screenOrientation="portrait" />
    </application>

</manifest>